* {
	padding: 0;
	margin: 0;
	border:0;
}

*, *before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
:root {
    --gray: #ccc;
    --blue: #304e98;
    --light-gray: #f2f2f2;
    --white: #ffffff;
    --red: #d50000;
    --green: #00c02b;
    --body: #eaeaea;
    --button-orange: #ff9900;
    --black: #000000;
}
:focus, :active { outline:none; }

a:focus, a:active { outline:none; }

nav, footer, header, aside { display: block; }

html, body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust:100%;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: var(--body);
}

.wrapper {
    position: relative;
	min-height: 100%;
}

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
	text-decoration: none;
	color: var(--white);
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

.header-container {
	display: flex;
    justify-content: space-between;
}

.content-container {
    padding: 25px;
}

.header {
	padding: 1px 10px;
	background-color: var(--blue);
	color: #fff;
	position: sticky;
	top: 0;
	z-index:2
}

button:hover {
    background-color: var(--button-orange);
	border-radius: 4px;
}

.header-item {
	padding: 10px 5px;
	font-size: 16px;
	margin: 0 0 0 5px;
    display: inline-block;
}

.header-item:first-child {
	margin: 0;
}

.header-item:last-child {
	padding: 10px 0;
}

.header-logo {
	font-weight: 700;
    font-size: 22px;
    padding: 5px 0;
}

.header-logo:hover {
	background-color: var(--blue);
}

img {
    cursor: pointer;
}

button {
	padding: 10px 15px;
	font-size: 20px;
	margin: 0 0 0 5px;
	background-color: var(--blue);
	text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: auto;
}

button:hover:enabled {
	background-color: var(--button-orange);
    cursor: pointer;
}

button:disabled {
	padding: 10px 15px;
	font-size: 20px;
	margin: 0 0 0 5px;
	text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    cursor: auto;
    opacity: 0.7;
}

.inputText {
    background-color: var(--white);
    border: 1px solid gray;
}

.tasks {
    height: 600px;
    width: 100%;
	background-color: var(--light-gray);
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	font-size: 24px;
	line-height: 30px;
	color: var(--black);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.15);
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 10px;
    max-height: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
}

.tasks-column {
    width: 33%;
    flex: 0 0 33%;
}

.task {
    color: var(--black);
    background-color: #fff;
    overflow: auto;
    border: 1px solid #f5f5f5;
    margin: 0 5px 15px 5px;
    display: flex;
    justify-content: space-between; 
}

.task-content {
    margin: 1px 10px;
}

.task-actions {
    flex: 0 0 15%;
}

.task-action {
    margin: 10px 0 0 0;
}

.footer {
    background-color: var(--blue);
    z-index: 2;
    width: 100%;
    box-shadow: 0 -2px 8px 0 rgba(34, 60, 80, 0.15);
    position: absolute;
	left: 0;
	bottom: 0;
}

.footer-paragraph {
    text-align: center;
    color: var(--white);
    padding: 10px 0;
    font-size: 14px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px auto;
    display: block;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    width: 50%;
    margin: 0 auto;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px auto;
}

.back-button {
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
}

.back-button>a {
    background-color: inherit;
    color: #585353;
}

.task-action>button {
    background-color: var(--light-gray);
}
.paragraph-urgency {
    color: #585353;
    line-height: normal;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.paragraph-container {
    margin: 5px 5px 15px;
    box-shadow: 0 0 0 -1px rgba(27, 67, 97, 0.08);
}

.toast {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background: var(--gray);
    color: #333333;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s, visibility 0.3s;
    z-index: 2;
  }
  
  .toast-visible {
    bottom: 63px;
    opacity: 0.7;
    visibility: visible;
  }
  
  .toast-success {
    background: var(--green);
    border-color: #009d23;
    color: var(--white);
  }
  
  .toast-error {
    background: var(--red);
    border-color: #ba0000;
    color: var(--white);
  }

